.about-container {
  display: flex;
  flex-direction: column;
  margin: 2vh 11vw;
}
.about-section {
  padding: 3rem 0;
}

.about-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2.5vh 0;
}
.about-child {
  margin: 0 20px;
  width: 50%;
}
.about-form {
  flex: 4;
}
.about-card {
  background-color: white;
  border-radius: 8px;
}
.about-form-input {
  padding: 30px;
}
.input-child {
  padding: 10px;
  border: none;
  margin: 20px 5px;
  outline: none;
  width: 100%;
  height: 100%;
}
.about-des {
  flex: 4;
  padding: 20px;
  color: #506690;
}
::placeholder {
  color: #506690;
  font-family: "Questrial", sans-serif;
}
.download-button {
  background-color: #42ba96;
  color: white;
  margin: 10px 5px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
.download-button a {
  color: white;
}

.list-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #42ba96;
}
.list-row > * {
  flex: 1 1 210px;
}
.list-child {
  margin: 10px;
}
.list-icon {
  padding-top: 20px;
}
.about-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-icon > svg {
  width: 3rem;
  height: 3rem;
}
.list-text {
  margin-left: 1.5rem !important;
}
.icon > svg {
  width: 3rem;
  height: 3rem;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.kit-image {
  perspective: 1500px;
  perspective-origin: left center;
  transform-style: preserve-3d;
  transform: scale(0.6, 0.6);
}
.kit-img {
  transform: rotateY(-35deg) rotateX(15deg);
}
@media screen and (max-width: 767px) {
  .about-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.6vw;
  }
  .about-child {
    width: 100%;
  }
  .about-child h2 {
    font-size: 4vw;
  }
  .about-form {
    order: 2;
  }
  .about-des {
    order: 1;
  }
}
