.about-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.about-section {
  width: 100%;
}

.about-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-child {
  margin: 0 20px;
}
.about-form {
  flex: 5;
  transition: transform 0.3s ease;
}
.about-form:hover {
  transform: translateY(-10px);
}
.about-card {
  background-color: white;
  border-radius: 8px;
}
.about-form-input {
  padding: 30px;
}
.input-child {
  padding: 10px;
  border: none;
  margin: 20px 5px;
  outline: none;
  min-width: 100%;
}
.about-des {
  flex: 6;
  padding: 20px;
  color: #506690;
}
::placeholder {
  color: #506690;
  font-family: "Questrial", sans-serif;
}
.download-button {
  background-color: #42ba96;
  color: white;
  margin: 10px 5px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
.download-button a {
  color: white;
}
.validate {
  font-size: 0.625rem;
  color: Red;
  margin-left: 15px;
  display: none;
}
.list-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #42ba96;
}
.list-child {
  margin: 15px 0;
}

.about-flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.list-icon > svg {
  width: 3rem;
  height: 3rem;
}
.list-text {
  margin-left: 1.5rem !important;
}
.icon > svg {
  width: 3rem;
  height: 3rem;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.about-child-2 {
  flex: 1;
}
.kit-image {
  perspective: 1500px;
  perspective-origin: left center;
  transform-style: preserve-3d;
  max-width: 100%;
  min-width: 100px;
  margin: 30px;
}
.kit-img {
  width: 77%;
  transform: rotateY(-35deg) rotateX(15deg);
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .list-row {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .about-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-child {
    width: 100%;
  }
  .about-form {
    order: 2;
  }
  .about-des {
    order: 1;
  }
}
