.features-section {
  padding: 20px 0;
}

.features-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.features-child {
  flex: 1;
  line-height: 30px;
  margin: 0 30px;
}
