/* Nav bar styles */

.nav-bar {
  overflow: hidden;
  width: 100%;
  padding: 1.25rem 0;
}
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

a .icon:hover {
  color: white;
}

.nav-bar .icon {
  display: none;
}
li {
  list-style-type: none;
}
li.nav-list-item a {
  text-decoration: none;
  color: #506693;
  font-weight: 600;
}
.nav-bar-menu {
  display: flex;
  flex-grow: 1;
}
.sub-menu {
  display: none;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.nav-list-item {
  font-size: 18px;
  color: #506690;
  margin: 0 20px;
}
.nav-list-item :hover {
  color: blue;
}
.nav-button {
  border-radius: 6px;
  color: white;
  border: 1px solid transparent;
  background-color: #335eea;
  min-width: 80px;
  padding: 5px 15px;
  transition: transform 0.2s ease;
}
.nav-button:hover {
  transform: translateY(-2px);
  background-color: blue;
}

@media screen and (max-width: 1024px) {
  .nav-bar a.icon {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav-bar-brand {
    flex: 0;
  }
  .nav-bar {
    overflow: hidden;
  }
  .nav-bar a.icon {
    display: block;
  }
  .nav-bar-menu {
    display: none;
    padding: 0;
  }
  .nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 20px;
  }
}
