/* Nav bar styles */

.nav-bar {
  padding: 20px;
  overflow: hidden;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 6.6vw;
}
.nav-bar a:hover {
  color: blue;
}

.nav-bar .icon {
  display: none;
}
.nav-bar-brand {
  flex: 1;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #506693;
  font-weight: 600;
}
.nav-bar-menu {
  flex: 4;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.nav-list-item {
  font-size: 18px;
  color: #506690;
  margin: 0 20px;
}
.nav-button {
  min-width: 80px;
  text-align: center;
  padding: 15px;
  margin-left: 15px;
  border-radius: 6px;
  color: white;
  border: 1px solid transparent;
  background-color: blue;
}

@media screen and (max-width: 1024px) {
  .nav-bar a.icon {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .nav-bar-brand {
    flex: 0;
    padding: 0;
  }
  .nav-bar {
    overflow: hidden;
  }
  .nav-bar a.icon {
    display: block;
  }
  .nav-bar-menu {
    display: none;
    padding: 0;
  }
  .nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
