.pricing-section {
  width: 100%;
}
.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.pricing-row-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
.pricing-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.pricing-des {
  text-align: center;
  max-width: 60%;
}
.pricing-child {
  border-radius: 6px;
  background: white;
  flex: 1;
  max-width: 75%;
}
.far {
  color: #68ba96;
}
.pricing-card {
  text-align: center;
  padding: 3rem;
}
.pricing-highlight {
  margin-bottom: 15px;
}
.pricing-highlight-container {
  background-color: #dce3f5;
  padding: 10px;
  border-radius: 999px;
  color: blue;
  font-size: 0.625rem;
  letter-spacing: 2px;
}
.pricing-price {
  font-size: 4rem;
  margin: 1rem 0;
}
.pricing-features-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.pricing-features {
  padding: 10px 0;
}
.get-it-now {
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 1.225rem;
  padding: 10px;
  border: none;
  padding: 1.122rem 1.5rem;
}

.contact-us {
  width: 100%;
  background-color: #d9e2ef;
  color: #506690;
  font-size: 1.225rem;
  padding: 10px;
  border: none;
  padding: 1.122rem 1.5rem;
}

.pricing-description {
  margin-top: 50px;
  padding: 6rem 20px;
  font-size: 1.625rem !important;
}
@media screen and (max-width: 767px) {
  .pricing-row-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }
  .pricing-child {
    margin-bottom: 25px;
    min-width: 100%;
  }
}
