.stat-section {
  width: 100%;
}
.stat-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.stat-child {
  flex: 1;
}
.stat-img {
  max-width: 400px;
}
.statistic {
  display: flex;
  justify-content: space-between;
}

.stat-data {
  width: 29%;
  text-align: left;
}
.vertical-slide {
  width: 1px;
  height: auto;
  background-color: #d9e2ef;
}
@media screen and (max-width: 767px) {
  .stat-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .stat-img {
    order: 1;
  }
  .stat-des {
    order: 2;
  }
}
