body {
  font-family: "Questrial", sans-serif;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 155px;
}
