/* Welcome section styles */

.welcome-section {
  width: 100%;
  padding: 6rem 0;
}
.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
.welcome-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.welcome-child {
  flex: 1;
}
.welcome-title {
  line-height: 1.2;
  font-size: 3vh;
  font-weight: 400;
}
.welcome-description {
  color: #869ab8;
  margin-bottom: 50px;
  font-size: 2vh;
}

.welcome-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.welcome-button {
  padding: 1vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 0;
}

.welcome-button-primary {
  border-radius: 6px;
  font-weight: 700;
  color: white;
  font-size: 3vh;
  font-size: 3vw;
  border: 1px solid transparent;
  background-color: #335eea;
}
.welcome-button-default {
  border-radius: 6px;
  font-weight: 700;
  font-size: 3vh;
  font-size: 3vw;
  color: blue;
  border: 1px solid transparent;
  background-color: #eaeffd;
}
.welcome-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fas {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .welcome-img {
    max-width: 100%;
    max-height: 100%;
  }
  .welcome-title {
    font-size: 51px;
    line-height: 61px;
  }
  .welcome-description {
    color: #869ab8;
    margin-bottom: 50px;
    font-size: 22px;
  }
  .welcome-des {
    flex: 7;
  }
  .welcome-image {
    flex: 5;
  }
  .welcome-button {
    padding: 0.8125rem 1.25rem;
    font-size: 0.765rem;
    display: flex;
    align-items: center;
  }

  .welcome-button-primary {
    border-radius: 6px;
    font-weight: 700;
    color: white;
    border: 1px solid transparent;
    background-color: #335eea;
    display: flex;
    justify-content: center;
  }
  .welcome-button-default {
    border-radius: 6px;
    font-weight: 700;
    color: blue;
    border: 1px solid transparent;
    background-color: #eaeffd;
  }
}
@media screen and (max-width: 767px) {
  .welcome-row {
    display: flex;
    flex-direction: column;
  }
  .welcome-container {
    margin: 0;
  }
  .welcome-title {
    font-size: 38px;
    line-height: 41px;
    font-weight: 100;
  }
  .welcome-description {
    color: #869ab8;
    margin-bottom: 50px;
    font-size: 22px;
  }
  .welcome-des {
    order: 2;
    width: 80%;
    text-align: center;
  }
  .welcome-button-container {
    padding: 0 30px;
  }
  .welcome-image {
    order: 1;
    width: 80%;
  }
  .welcome-img {
    max-width: 100%;
    max-height: 100%;
  }
  .right-icon {
    display: none;
  }
}
@media screen and (max-width: 392px) {
  .welcome-button-container {
    flex-direction: column;
  }
  .welcome-button {
    width: 80%;
    padding: 1.5rem;
    font-size: 21px;
  }
}
